body {
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #222;
    font-family: Arial, sans-serif;
}


.calculator {

    background: #333;

    padding: 25px;

    border-radius: 20px;

    box-shadow: 0 0 20px black;

}


h2 {
    color: white;
    text-align: center;
}


#display {

    width: 280px;

    height: 50px;

    font-size: 25px;

    text-align: right;

    padding: 10px;

    margin-bottom: 15px;

    border-radius: 10px;

}


.buttons {

    display: grid;

    grid-template-columns: repeat(4, 70px);

    gap: 10px;

}


button {

    height: 60px;

    font-size: 22px;

    border: none;

    border-radius: 10px;

    cursor: pointer;

}


button:hover {

    background: #aaa;

}


.zero {

    grid-column: span 2;

}


/* Video hidden at first */

#videoBox {

    display: none;

    position: absolute;

    background: #111;

    padding: 20px;

    border-radius: 15px;

    text-align: center;

}